img{
    position: relative;
}
span{
    position: absolute;
    background-color: cornflowerblue;
    left: 13%;
    top: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}
