body{
    border: 2px black solid;
    display: flex;
    justify-content: center;
}
#Layout{
    border: solid black;
    max-width: 800px;
    grid-template-rows: 1fr 2fr 2fr 1fr;
}
header,
main,
aside,
footer{
    border: 1px solid black;
}
header{
    display: flex;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
}
main{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
aside{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}